body {
  color: rgb(187, 135, 197);
  font-family: sans-serif;
  background-color: darkslategray;
  background-image:url(https://images.unsplash.com/photo-1460411794035-42aac080490a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJldHR5JTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80);
}

.result, #tie-breaker, #c-sharp, #python, #ruby, #start-again-button {
  display: none;
}

.title-box {
  text-align: center;
}

.question-box, .result, .title-box {
  width: auto;
  margin: auto;
  padding: 50px;
  border: solid rgb(1, 12, 6);
  border-width: 30px;
  background-color:rgb(187, 135, 197);
  margin-bottom: 10px;
  box-sizing: content-box;
  color: black;
  opacity: 90%;
}

.button-box {
  width: 20%;
  margin: auto;
  padding: 50px;
  border: solid rgb(1, 12, 6);
  border-width: 30px;
  background-color:rgb(187, 135, 197);
  margin-bottom: 10px;
  box-sizing: content-box;
  color: black;
  opacity: 90%;
  text-align: center;
  font-weight: bold;
}

button:hover {
  text-decoration: yellow;
  transform: scale(200%);
}

.language {
  font-weight: bold;
}

