body {
  color: rgb(16, 196, 10);
  font-family: sans-serif;
  background-color: darkslategray;
  background-image:url(https://github.com/y0ung4my/Programming-Language-Selector/blob/main/img/thematrix.jpg?raw=true);
}

.result, #tie-breaker, #c-sharp, #python, #ruby, #start-again-button {
  display: none;
}

button:hover {
  text-decoration: yellow;
  transform: scale(200%);
}

.question-box, .result, .title-box {
  width: auto;
  margin: auto;
  padding: 50px;
  border: solid rgb(1, 12, 6);
  border-width: 30px;
  background-color:rgb(16, 196, 10);
  margin-bottom: 10px;
  box-sizing: content-box;
  color: black;
  opacity: 90%;
}

.button-box {
  width: 20%;
  margin: auto;
  padding: 50px;
  border: solid rgb(1, 12, 6);
  border-width: 30px;
  background-color:rgb(16, 196, 10);
  margin-bottom: 10px;
  box-sizing: content-box;
  color: black;
  opacity: 90%;
  text-align: center;
  font-weight: bold;
}

.title-box {
  text-align: center;
}

.language {
  font-weight: bold;
  font-size: large;
}

